.footer {
  background: $blue;
  padding: 35px 0 35px;

  @media (max-width: 768px) {
    padding: 26px 0 21px;
  }

  &__inner {
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 62px;

    @media (max-width: 1050px) {
      margin-bottom: 41px;

      flex-wrap: wrap;
    }
    @media (max-width: 768px) {
      align-items: flex-start;
    }
  }

  &__logo {
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    text-transform: uppercase;
    color: $white;

    @media (max-width: 768px) {
      font-size: 16px;
      max-width: 150px;
    }
  }

  &__menu {
    @media (max-width: 1050px) {
      display: none;
    }
  }
  &__menu--mobile {
    display: none;

    @media (max-width: 1050px) {
      display: block;
      margin-bottom: 53px;
    }
  }

  &__menu-list {
    display: flex;
    gap: 11px;

    @media (max-width: 768px) {
      gap: 6px;
    }
  }

  &__menu-item {
  }

  &__menu-link {
    padding: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.58;
    color: $white;
    mix-blend-mode: normal;

    @media (max-width: 768px) {
      font-size: 10px;
      white-space: nowrap;
      padding: 5px;
    }
  }

  &__phone {
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    text-transform: uppercase;
    color: $white;
    position: relative;
    padding-left: 45px;

    @media (max-width: 768px) {
      padding-left: 0;
      min-width: 132px;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0px;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 30px;
      height: 30px;
      background: url('../img/footer-phone.svg') no-repeat;

      @media (max-width: 768px) {
        content: none;
      }
    }

    @media (max-width: 768px) {
      font-size: 16px;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__bottom-copy {
    font-weight: 500;
    font-size: 18px;
    line-height: 1;
    color: $white;

    @media (max-width: 768px) {
      font-size: 16px;
    }

    span {
      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  &__bottom-socials {
    display: flex;
    gap: 21px;
  }

  &__bottom-social {
  }

  &__bottom-telegram {
  }

  &__bottom-whatsapp {
  }

  a {
    transition: 0.2s;

    &:hover {
      opacity: 0.7;
    }
  }
}
