html {
  // width: 1440px;
}
.wrapper {
  // max-width: 1440px;
  // width: 1440px;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
// .container-fluid {
//   max-width: 1920px;
//   margin: 0 auto;
// }
body {
  font-family: 'Muller';
  font-weight: 400;
}

.h2 {
  font-family: 'Muller';
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;

  @media (max-width: 768px) {
    font-size: 32px;
  }
}
